.about {
	height: 68vh;
	display: flex;
	align-items: center;
	width: 50%;
	margin: auto;
	color: aliceblue;
	position: relative;

	.wrapper {
		hr {
			margin: 20px 0;
			color: lightgray;
			width: 100%;
		}
		.links {
			display: flex;
			justify-content: center;
			gap: 20px;

			.link {
				background-color: var(--secondary-color-light);
				color: black;
				border-radius: 5px;
				height: 50px;
				padding: 10px;
				display: flex;
				gap: 20px;
				text-decoration: none;
				align-items: center;
				&:hover {
					color: var(--secondary-color);
				}
			}
		}
	}
	@media (max-width:"720px"){
		padding-top:175px;
		justify-content: center;
	}
}
