.about{
    height: 86vh;
    margin-top: 12vh;
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    color: aliceblue;

    p{
        hr{
            margin: 20px 0;
            color: lightgray;
            width: 100%;
        }
        .links{
            display: flex;
            justify-content: center;
            gap: 20px;

            .link{
                color: aliceblue;
                text-decoration: none;
                display: flex;
                gap: 10px;
                &:hover{
                    color: green;
                }
            }
        }
    }
}