.contact{
    height: 86vh;
	margin-top: 12vh;
	background-color: rgba(var(--main-color), 0.675);
	border-radius: 10px;
	-webkit-box-shadow: var(--shadow-webkit);
	box-shadow: var(--shadow-box);
    display: flex;
    justify-content: space-between;

    .left{
        width: 50%;
        padding: 10%;
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 25px;

            .formInput{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                
                input,textarea{
                    border: 1px solid var(--light-color);
                    border-radius: 5px;
                    color: var(--main-color);
                    outline: none;
                    font-weight: 700;
                    padding: 5px 10px;
                }
            }

            button{
                cursor: pointer;
                width: 75px;
                padding: 10px;
                border: none;
                background-color: var(--light-color);
                color:aliceblue;
                margin: auto;
            }
        }

    }
    .right{
        height: 100%;
        width: 50%;
    }
}