:root {
	/* Color Set*/
	--main-color: 249, 245, 246;
	--secondary-color: #32312f;
	--secondary-color-light: #fff;
	--light-color: #dad2d2;
	/* Shadow Set*/
	--shadow-webkit: 1px 1px 11px 3px rgba(0, 0, 0, 0.34);
	--shadow-box: 1px 1px 11px 3px rgba(0, 0, 0, 0.34);

	$layout-breakpoint-medium: 1280px;
	$layout-breakpoint-small: 768px;
}

.app {
	background: var(--secondary-color);
	overflow: hidden;
	height: 100vh;

	.layout {
		width: 85%;
		margin: auto;
		position: relative;

		.bg {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: start;

			img {
				width: 55%;
				z-index: -1;
			}
			.bgImg-2 {
				transform: rotateY(180deg);
			}
		}

		.routes {
			position: relative;
		}
	}
	@media (max-width: "720px") {
			height: 120vh;
			overflow:scroll;
			.layout{
				width: 100%;
				
				.bg{
					align-items: start;
					justify-content: center;
	
					.bgImg-2{
						display: none;
					}
				}
			}
		
	  }
}
